apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "quai-claims.fullname" . }}-cronjob
  labels:
    {{- include "quai-claims.labels" . | nindent 4 }}
spec:
  schedule: "{{ .Values.cron.schedule }}"  # Define the schedule in your values.yaml
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            {{- include "quai-claims.labels" . | nindent 8 }}
        spec:
          containers:
            - name: cronjob
              image: "curlimages/curl:7.85.0"
              imagePullPolicy: {{ .Values.quaiClaims.image.pullPolicy }}
              command:
                - "sh"
                - "-c"
                - |
                  curl -s "http://{{ include "quai-claims.fullname" . }}{{ .Values.cron.endpoint }}" || echo "Request failed"
              env:
              # Include any necessary environment variables
              # If your application requires environment variables, include them here
              {{- with .Values.imagePullSecrets }}
              imagePullSecrets:
                {{- toYaml . | nindent 8 }}
              {{- end }}
          restartPolicy: OnFailure
