apiVersion: v1
kind: Service
metadata:
  name: {{ include "quai-claims.fullname" . }}
  labels:
    {{- include "quai-claims.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    {{- include "quai-claims.selectorLabels" . | nindent 4 }}
