apiVersion: v1
kind: Service
metadata:
  name: {{ include "token-vesting-claim-site.fullname" . }}
  labels:
    {{- include "token-vesting-claim-site.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    {{- include "token-vesting-claim-site.selectorLabels" . | nindent 4 }}
