name: Auto Patch Workflow
on:
  pull_request:
    types: [closed]
    branches:
      - 'v?[0-9]+.[0-9]+'
jobs:
  call-common-workflow:
    uses: dominant-strategies/quai-cicd/.github/workflows/deploy-sandbox-common.yml@main
    with:
      needs_build: true
      needs_docker: false
      needs_export: false
      install_command: "npm ci"
      cloud_deploy: true
      skip_deploy: false
      env: "quai-prod"
      update_version: false
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
      BUILD_ARGS: 'NEXT_PUBLIC_RPC_URL=https://rpc.quai.network,NEXT_PUBLIC_VESTING_CONTRACT_ADDRESS=0x0045edcE84e8E85e1E4861f082e5F5A0a50A7317,NEXT_PUBLIC_APP_TITLE="Quai Token Vesting Claims",NEXT_PUBLIC_APP_DESCRIPTION="Check and claim your vested Quai tokens",NEXT_PUBLIC_TOKEN_SYMBOL=QUAI,ID_ADMIN=1235140843766288455,NEXT_PUBLIC_TOKEN_DECIMALS=18'
      DOCKER_BUILD_ARGS: 'NEXT_PUBLIC_RPC_URL=https://rpc.quai.network,NEXT_PUBLIC_VESTING_CONTRACT_ADDRESS=0x0045edcE84e8E85e1E4861f082e5F5A0a50A7317,NEXT_PUBLIC_APP_TITLE="Quai Token Vesting Claims",NEXT_PUBLIC_APP_DESCRIPTION="Check and claim your vested Quai tokens",NEXT_PUBLIC_TOKEN_SYMBOL=QUAI,ID_ADMIN=1235140843766288455,NEXT_PUBLIC_TOKEN_DECIMALS=18'
