name: Deploy to Prod
on: workflow_dispatch
jobs:
  call-common-workflow:
    uses: dominant-strategies/quai-cicd/.github/workflows/deploy-sandbox-common.yml@main
    with:
      needs_build: true
      needs_docker: true
      needs_export: false
      install_command: "npm ci"
      cloud_deploy: true
      skip_deploy: false
      env: "quai-prod"
      update_version: true
      gcp_project_id: "flash-gasket-349320"
      token_secret_name: "gke-prod-token"

    secrets:
      DOCKER: ${{ secrets.DOCKER }}
      GH_PAT: ${{ secrets.GH_PAT }}
      KUBE_CONFIG: ${{ secrets.KUBECONFIG_PROD }}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY2 }}
      GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
      GH_GCP_TOKEN: ${{ secrets.GH_GCP_TOKEN }}
      BUILD_ARGS: 'NEXT_PUBLIC_RPC_URL=https://orchard.rpc.quai.network,NEXT_PUBLIC_VESTING_CONTRACT_ADDRESS=0x0056e37Cf10e1183540E86027D7821A8AE3a7b93,NEXT_PUBLIC_APP_TITLE="Quai Token Vesting Claims",NEXT_PUBLIC_APP_DESCRIPTION="Check and claim your vested Quai tokens",NEXT_PUBLIC_TOKEN_SYMBOL=QUAI,ID_ADMIN=1235140843766288455,NEXT_PUBLIC_TOKEN_DECIMALS=18'
      DOCKER_BUILD_ARGS: 'NEXT_PUBLIC_RPC_URL=https://orchard.rpc.quai.network,NEXT_PUBLIC_VESTING_CONTRACT_ADDRESS=0x0056e37Cf10e1183540E86027D7821A8AE3a7b93,NEXT_PUBLIC_APP_TITLE="Quai Token Vesting Claims",NEXT_PUBLIC_APP_DESCRIPTION="Check and claim your vested Quai tokens",NEXT_PUBLIC_TOKEN_SYMBOL=QUAI,ID_ADMIN=1235140843766288455,NEXT_PUBLIC_TOKEN_DECIMALS=18'
